.formElement{
    margin-top: 10px;
    margin-bottom: 10px;
}
.nagy{
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    color: red;
    font-size: large;
}
.row{
    margin-top: 0px;
    margin-bottom: 0px;
}
.sima p{
    color: black;
    margin-top: 10px;
}
.botMargin{
    margin-bottom: 20px;
}